.our_courses_container {
	border: 1px solid red;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;

	.heading {
		font-size: 18px;
		color: var(--primary);
	}

	.subtitle {
		font-size: 46px;
		font-weight: bold;
		margin-bottom: 1rem;
		color: var(--dark-blue);
	}
}
