.our_courses_option_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 1rem;
	border: 1px solid red;
	border-radius: 15px;
	padding: 1rem 1.5rem;

	.image {
		margin-right: 1rem;
	}
}
