@import "../../styles/main.module.scss";

.navbar_container {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	background-color: var(--white);
	border-radius: 20px;
	width: 68%;
	z-index: 10;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 2px 8px 0 rgba(20, 20, 43, 0.08);

	.left_side {
		@include flex-center;

		.title {
			@include flex-center;
			margin-right: 1rem;
			justify-content: space-between;
			transition: all 1s ease;
			cursor: pointer;
			animation: shrink-grow 0.5s ease forwards;

			.title_icon {
				color: var(--primary);
				margin-right: 0.5rem;
			}

			&:hover {
				animation: grow-shrink 0.4s ease forwards;
			}
		}

		.navbar_link {
			font-size: 18px;
			margin-right: 1rem;
			transition: all 0.3s ease;
			display: flex;

			&:hover {
				color: var(--primary);
				cursor: pointer;
			}

			.chevron {
				margin-left: 0.5rem;
				transition: transform 0.5s;

				&.rotate {
					transform: rotate(-180deg);
				}
			}
		}
	}

	.right_side {
		@include flex-center;

		.search {
			background-color: var(--white);
			border: 1px solid #ebeef3;
			box-shadow: 0 4px 10px 0 rgba(20, 20, 43, 0.04);
			border-radius: 12px;
			transition: all 0.3s;

			.search_icon {
				padding: 1rem;
			}

			&:hover {
				background-color: var(--primary);
				color: var(--white);
				animation: grow-shrink 0.4s ease forwards;
				cursor: pointer;
			}
		}

		.navbar_button {
			background-color: var(--primary);
			color: var(--white);
			padding: 1rem 1.5rem;
			border-radius: 12px;
			border: none;
			outline: none;
			font-weight: bold;
			font-size: 18px;
			margin-left: 1rem;
			transition: all 0.3s;

			&:hover {
				cursor: pointer;
				animation: grow-shrink 0.4s ease forwards;
				background-color: var(--blue);
			}
		}
	}
}
