@import "../../styles/main.module.scss";

.hero_container {
	display: flex;
	width: 100%;
	height: 150vh;

	.hero_content {
		@include flex-center;
		align-items: flex-end;
		flex-direction: column;
		height: 100vh;
		width: 52%;

		&_container {
			@include flex-center;
			flex-direction: column;
			height: 100%;
			width: 82%;

			.ratings_container {
				@include flex-center;
				justify-content: flex-start;
				margin-bottom: 1rem;
				width: 70%;

				.image_container {
					margin-right: 1rem;

					.mini_portrait {
						border-radius: 50%;
						border: 2px solid white;
						margin-left: -10px; /* add this line, adjust the value to fit your needs */
					}
					.mini_portrait:first-child {
						margin-left: 0; /* add this line to ensure the first image doesn't move */
					}
				}

				.star_ratings_container {
					.stars_container {
						margin-bottom: 0.5rem;
					}

					.ratings_text {
						color: var(--gray);
						font-weight: bold;
						font-size: 18px;
					}
				}
			}

			.hero_content_message {
				color: #1f2f54;
				font-size: 66px;
				width: 70%;
			}

			.hero_content_description {
				color: var(--gray);
				font-size: 18px;
				width: 70%;
				line-height: 1.7;
				margin-top: 2rem;
			}

			.button_container {
				margin-top: 2rem;
				@include flex-center;
				justify-content: flex-start;
				width: 70%;

				.learn_more_button {
					font-weight: normal;
					margin-left: 1rem;
				}
			}
		}
	}

	.hero_portrait {
		position: relative;
		background: url("../../public/images/home-hero-right-bg.svg") no-repeat
			center / cover;
		background-position: center 0%;
		width: 48%;
		height: 110vh;
		border-bottom-left-radius: 4rem;
		overflow: hidden;

		&_image {
			position: absolute;
			// top: 50%;
			// left: 50%;
			bottom: 0;
			left: 6rem;
			// width: 75%; // adjust to make the image smaller or larger
			// height: 75%; // adjust to make the image smaller or larger
			animation: grow-shrink 0.5s ease forwards;
			transform: translate(-50%, -33%);
			// background: url("../../public/images/portrait.png") no-repeat center /
			// 	cover;
		}
	}
}
