@import "../../styles//main.scss";

.hero_container {
	display: flex;
	width: 100%;
	height: 150vh;

	.hero_content {
		@include flex-center;
		align-items: flex-end;
		flex-direction: column;
		height: 100vh;
		width: 52%;

		&_container {
			@include flex-center;
			flex-direction: column;
			height: 100%;
			width: 82%;

			.hero_content_message {
				color: #1f2f54;
				font-size: 66px;
				width: 70%;
			}

			.hero_content_description {
				color: #6e7991;
				font-size: 18px;
				width: 70%;
				line-height: 1.7;
				margin-top: 2rem;
			}

			.button_container {
				margin-top: 2rem;
			}
		}
	}

	.hero_portrait {
		position: relative;
		background: url("../../assets/home-hero-right-bg.svg") no-repeat center /
			cover;
		background-position: center 0%;
		width: 48%;
		height: 110vh;
		border-bottom-left-radius: 4rem;
		overflow: hidden;

		&_image {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 75%; // adjust to make the image smaller or larger
			height: 75%; // adjust to make the image smaller or larger
			transform: translate(-50%, -33%);
			background: url("../../assets/portrait.png") no-repeat center /
				cover;
		}
	}
}
